<div class="welcome">
  <h1>Welcome to Notepad</h1>
  <p>Jot down your ideas, observations, reflections and etc</p>
  <p><%= link_to "Sign Up", signup_path, class: "btn btn-primary" %></p>
</div>
<div class="brands">
  <span><i class="fab fa-facebook-square"></i></span>
  <span><i class="fab fa-twitter-square"></i></span>
  <span><i class="fab fa-apple"></i></span>
  <span><i class="fab fa-android"></i></span>
</div>
